{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_icon "plus" as glyphicon_plus %}
{% bootstrap_icon "download" as glyphicon_download %}
{% bootstrap_icon "info-sign" as glyphicon_info_sign %}
{% bootstrap_icon "pencil" as glyphicon_pencil %}

<br/>
<div class="row">
	<div class="col-sm-5 page-subsubheader-left">
		{% trans "Flashcards" %}
	</div>
	<div class="col-sm-7 page-subsubheader-right">
		{% if lesson.flashcard_lessons %}
		<a href="/lessons/download_all_flashcards/{{ lesson.id }}">
			<button 
				type="button" 
				name="download-all-flashcards"
				class="btn btn-primary download-all">
					{{ glyphicon_download }} {% trans "Download All" %}
			</button>
		</a>		
		{% endif %}
	</div>
</div>
{% if lesson.flashcard_lessons %}
	{% with lesson.flashcard_lessons as flashcard_lessons %}
	{% include "lessons/flashcard-table.html" %}
	{% endwith %}
{% else %}
<div class="row">
	<div class="col-sm-12 center-align">
		{% trans 'There are no flashcards available for this lesson. <br/> Would you like to' %} <a class="cursor-pointer" data-toggle="modal" data-target="#add-flashcard-{{ lesson.id }}">{% trans 'add a new flashcard?' %}</a>
	</div>
</div>
{% endif %}