{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_icon "plus" as glyphicon_plus %}
{% bootstrap_icon "chevron-right" as glyphicon_chevron_right %}

<div class="row">
	<div class="col-sm-9 page-subsubheader-left">
		{% trans "Book Activities" %}
	</div>
</div>

{% if lesson.book_activities %}
	{% with lesson.book_activities as activities %}
	{% include "lessons/view-activity-table.html" %}
	{% endwith %}
{% else %}
<div class="row">
	<div class="col-sm-12 center-align">
		{% trans 'There are no activities available from the book for this lesson. <br/> Would you like to' %} <a class="cursor-pointer" data-toggle="modal" data-target="#add-book-activity-{{ lesson.id }}">{% trans 'add a new activity?' %}</a>
	</div>
</div>
{% endif %}
<br/>
<div class="row">
	<div class="col-sm-9 page-subsubheader-left">
		{% trans "Free Activities" %}
	</div>
</div>

{% if lesson.free_activities %}
	{% with lesson.free_activities as activities %}
	{% include "lessons/view-activity-table.html" %}
	{% endwith %}
{% else %}
<div class="row">
	<div class="col-sm-12 center-align">
		{% trans 'There are no free activities available for this lesson. <br/> Would you like to' %} <a class="cursor-pointer" data-toggle="modal" data-target="#add-free-activity-{{ lesson.id }}"> {% trans 'add a new activity?' %} </a> 
	</div>
</div>
{% endif %}